form > *{
  display: block;
}

#divTable
{
  width: 100vw;
  border: 1px solid;
  display: grid;
  grid-template-columns: 50% 50%;
}

#testFlex
{
  background-color: blanchedalmond;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
/*  */