@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
    padding: 0 35px
}

.wrapper
{
    max-width: 1200px;
    position: relative;
}

.wrapper .carousel
{
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel.dragging
{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img
{
    pointer-events: none;
}

.wrapper i
{
    top: 50%;
    height: 45px;
    width: 45px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    line-height: 46px;
    text-align: center;
    position: absolute;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.wrapper i:first-child
{
    left: -23px;
    display: none;
}

.wrapper i:last-child
{
    right: -23px;
}

.carousel img
{
    height: 340px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
}

.carousel img:first-child
{
    margin-left: 0px;
}

@media screen and(max-width: 900px)
{
    .carousel img
    {
         width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px)
{
    .carousel img
    {
        width: 100%;
    }
}