body
{

}
.jumbotron
{

}
#jumbotron1
{
    background-image: linear-gradient(#0000, #000), url(assets/onepiece.jpg);
    background-size: cover;
    background-position: center;
    height: calc(30vw + 300px);
}   

#jumbotron1 img
{
    width: 300px;
}