@import url(//db.onlinewebfonts.com/c/561f38b1f4570de0fb8a39d691ab058c?family=Tungsten+Bold);
body
{
    background-color: #ffffff;
    font-family: 'arial';
    font-size: 24px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}